// Colors
$white: #ffffff;
$grey: #f1eeee;
$black: #000000;
$blue: #3d55f9;
$dark-blue: #071330;
$orange: #f0bca3;
$lighter-blue: #07143199;
$hover-color: #273AB8;
$active-color: #4B57A9;
// Breakpoints
$desktop-l: 1440px;
$desktop: 1200px;
$tablet-l: 992px;
$tablet: 768px;
$mobile: 576px;
